:host {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    height         : 100%;
    flex           : 1;

    mat-card {
        min-width : 300px;
        margin    : 2em auto;
        text-align: center;
    }

    mat-form-field {
        display: block;
    }

    section {
        margin-top: 10px;
    }
}
