:host {
    display         : flex;
    height          : 100%;
    flex            : 1 0 0;
    background-image: url("http://itpdevelopment.ru/assets/img/hero-bg.jpg");
    background-size : cover;

    .notAuthContainer {
        box-shadow    : 0 0 20px rgb(0, 0, 0, 0.5);
        width         : 80%;
        display       : flex;
        flex-direction: column;
        margin        : auto;

        p {
            margin-top: 30px;
            color     : #fff;
        }

        .requestSection {
            box-sizing      : border-box;
            width           : 100%;
            background-color: rgba(0, 0, 0, 0.5);
            padding         : 30px;

            .title {
                margin    : 30px auto;
                color     : azure;
                text-align: center;
            }

            .authButtons {
                display        : flex;
                gap            : 10px;
                justify-content: center;
            }
        }

        .benefitsSection {
            box-sizing      : border-box;
            background-color: #fff;
            width           : 100%;
            padding         : 30px;
            line-height     : 40px;
        }
    }

    .usersList {
        box-shadow      : 0 0 20px rgb(0, 0, 0, 0.5);
        width           : 80%;
        display         : flex;
        flex-direction  : column;
        margin          : auto;
        box-sizing      : border-box;
        padding         : 20px;
        background-color: #fff;

        .userEntry {
            display    : flex;
            height     : 80px;
            align-items: center;

            .fieldName {
                font-weight : 700;
                margin-right: 10px;
            }

            .fieldValue {
                margin-right: 40px;
            }

            .editButton {
                margin: auto 0 auto auto;
            }

            .removeButton {
                margin: auto 0 auto 10px;
            }
        }
    }
}
