<div class="notAuthContainer" *ngIf="!isAuth">
    <section class="requestSection">
        <h2 class="title">Для использования приложения, пожалуйста, авторизуйтесь</h2>
        <div class="authButtons">
            <button [routerLink]="'auth/login'" class="loginButton" mat-raised-button>Login</button>
            <button [routerLink]="'auth/reg'" class="registerButton"
                mat-raised-button>Register</button>
        </div>
        <p>* Используется фиктивный сервер авторизации для проверки функционала
            Frontend-приложения</p>
    </section>
    <section class="benefitsSection">
        <h3>После этого вам станут доступны следующие преимущества:</h3>
        <ul>
            <li>Навигация по сайту и кнопка "Выйти"</li>
            <li>Просмотр списка пользователей</li>
            <li>Добавление. удаление и изменение информации о пользователях</li>
            <li>Поиск по списку пользователей</li>
        </ul>
    </section>
</div>
