<div class="notAuthContainer" *ngIf="!isAuth">
    <section class="requestSection">
        <h2 class="title">To use application please log in or register</h2>
        <div class="authButtons">
            <button [routerLink]="'auth/login'" class="loginButton" mat-raised-button>Login</button>
            <button [routerLink]="'auth/reg'" class="registerButton"
                mat-raised-button>Register</button>
        </div>
    </section>
    <section class="benefitsSection">
        <h3>After that you will enjoy the following benefits:</h3>
        <ul>
            <li>Using navigation menu and exit button</li>
            <li>After authorization a page with a list of users will be displayed</li>
            <li>Users can be added, deleted and edited</li>
            <li>Searching user in table and lookup error handling</li>
        </ul>
    </section>
</div>
<div class="usersList" *ngIf="isAuth">
    <h4>Users List</h4>
    <button mat-raised-button (click)="onAdd()">Add User</button>
    <div *ngIf="(users | async)">
        <mat-list *ngFor="let user of users | async">
            <mat-list-item *ngFor="let field of user | keyvalue">{{field.key}}:{{field.value}}
            </mat-list-item>
            <button (click)="onEdit(user)" mat-raised-button>Edit</button>
            <button (click)="onRemove(user)" color="warn" mat-raised-button>Remove</button>
        </mat-list>
    </div>
</div>
